.scrollContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
  
.albumItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 150px;
}

.albumName {
  margin-top: 10px;
  text-align: center;
}


/* Add this CSS to your stylesheet or create a new CSS file */
.album-carousel {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  overflow: hidden; /* Add this line to hide the horizontal scrollbar */
}

.album-item {
  flex: 0 0 auto;
  margin-right: 20px; /* Adjust this margin as needed */
}